.content {
    width: 100%;
    border-right: 3px solid var(--underline);
    border-left: 3px solid var(--underline);
}

.author {
    font-size: 16px;
    font-weight: 600;

}

.header__info {
    display: flex;
    flex-direction: column;
    margin-left: 13px;
}

.date {
    font-size: 13px;
    color: var(--text);
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 50px;
    border-radius: 100%;
    overflow: hidden;
}

.image {
    width: 100%;
}

.comment {
    margin: 0.7em 0;
    /* margin-left: 63px; */
    line-height: 1.7em;
    color: #c4cad0;
}

.close_btn {
    transition: .3s;
    fill: var(--navbar-exit);
}

.close_btn:hover {
    fill: var(--navbar-exit-hover);
}

.block {
    display: flex;
    align-items: center;
}

.title {
    grid-area: title;
    font-size: 24px;
    font-weight: bold;
}

.footer {
    display: flex;
    align-items: center;
    margin-top: 0.7em;
}

.icon {
    width: 25px;
    height: 25px;
    fill: var(--navbar-icon);
    cursor: pointer;
    transition: .3s;
}

.icon:hover {
    fill: var(--text-light);
}

.count {
    font-size: 17px;
    margin-left: 0.5em;
    font-weight: 600;
    color: var(--navbar-icon);
    cursor: pointer;
}
