.content {
    display: grid;
    grid-template-areas:
        "header"
        "messages"
        "input";
    grid-auto-rows: 43px 1fr 60px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-light);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: header;
}

.input__msg {
    grid-area: input;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages {
    grid-area: messages;
}