.content {
    grid-area: description;
}

.name {
    font-size: 17px;
    font-weight: 600;
    color: var(--text-light);
}

.status {
    font-size: 13px;
    color: var(--text);
}

.header {
    margin-bottom: 1em;
}

.item {
    font-weight: 600;
    color: var(--text-light);
}

.input {
    border-radius: 5px;
    border: 1px solid var(--underline);
    padding-left: 0.4em;
}
