.content {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
    "header header"
    "people messages";
    grid-gap: 1em;
    height: 100%;
    color: var(--text);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: header;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-light);
}

.people {
    grid-area: people;
    display: grid;
    grid-gap: 1em;
    grid-auto-rows: min-content;
}

.messages {
    grid-area: messages;
    border-right: 3px solid var(--underline);
}