.content {
    padding-top: 120px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "people messages";
    grid-gap: 1em;
    height: 100%;
    color: var(--text);
}

.content__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.friend__list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-light);
}

.people {
    grid-area: people;
    display: grid;
    grid-gap: 1em;
    grid-auto-rows: min-content;
}

.messages {
    grid-area: messages;
    border-right: 3px solid var(--underline);
}

.block {
    display: grid;
    grid-template-rows: min-content 2fr min-content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title title"
    "input input"
    "fileLine btn";
    grid-auto-rows: max-content;
    grid-gap: 1em;
}

.block_line {
    display: grid;
    grid-template-columns: 1fr 30px 30px;
    grid-template-areas:
    "input fileLine btn";
    grid-auto-rows: max-content;
    justify-content: center;
    align-items: center;
    grid-gap: 1em;
    width: 100%;
}

.send_button_block {
    display: flex;
    align-items: center;
}

.text {
    grid-area: input;
    border-radius: 5px;
    border: 1px solid var(--underline);
    resize: vertical;
    padding: 0.7em;
}

.notRes {
    resize: none;
}

.btn {
    grid-area: btn;
    justify-self: end;
    width: 100px;
}

.title {
    grid-area: title;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.file {
    display: none;
}

.file_btn {
    grid-area: fileLine;
    width: 25px;
    height: 25px;
}

.icon {
    fill: var(--navbar-icon);
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: .3s fill;
}

.send_button {
    fill: var(--btn-bg);
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: .3s fill;
}

.send_button:hover {
    fill: var(--btn-hover);
}

.icon:hover {
    fill: var(--text-light);
}