.content {
    padding-top: 120px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "people messages";
    grid-gap: 1em;
    height: 100%;
    color: var(--text);
}

.title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-light);
}

.people {
    grid-area: people;
    display: grid;
    grid-gap: 1em;
    grid-auto-rows: min-content;
}

.messages {
    grid-area: messages;
    border-right: 3px solid var(--underline);
}