.container {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    grid-area: posts;
    gap: 1em;
}

.content {
    grid-area: posts-header;
    border: 3px solid var(--underline);
    border-bottom: none;
}

.posts:last-child {
    border-radius: 7px;
    border-bottom: 3px solid var(--underline);
}

.posts {
    display: grid;
    grid-area: posts;
    grid-gap: 1em;
}


.block {
    display: grid;
    grid-template-rows: min-content min-content 2fr min-content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title title"
    "input input"
    "textarea textarea"
    "fileLine btn";
    grid-auto-rows: max-content;
    grid-gap: 1em;
}

.block_line {
    display: grid;
    grid-template-columns: 1fr 30px 30px;
    grid-template-areas:
    "input fileLine btn";
    grid-auto-rows: max-content;
    justify-content: center;
    align-items: center;
    grid-gap: 1em;
    width: 100%;
}

.send_button_block {
    display: flex;
    align-items: center;
}

.btn {
    grid-area: btn;
    justify-self: end;
    width: 100px;
}

.title {
    grid-area: title;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.file {
    display: none;
}

.file_btn {
    grid-area: fileLine;
    width: 25px;
    height: 25px;
}

.icon {
    fill: var(--navbar-icon);
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: .3s fill;
}

.send_button {
    fill: var(--btn-bg);
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: .3s fill;
}

.send_button:hover {
    fill: var(--btn-hover);
}

.icon:hover {
    fill: var(--text-light);
}

.itemEditBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    margin-bottom: 1em;
}

