.content {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    "avatar name time"
    "avatar text text";

    padding: 1em;
    cursor: pointer;
}

.time {
    grid-area: time;
}

.name {
    grid-area: name;
    font-size: 15px;
    font-weight: 600;
}

.text {
    grid-area: text;
}