.content {
    grid-area: photos;
}

.title {
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.photos {
    max-width: 200px;
    max-height: 200px;
}

.image {
    width: 100%;
    border-radius: 5px;
}

.photos__block {
    max-width: 200px;
    max-height: 200px;
}