.content {
    display: grid;
    padding-top: 120px;
    grid-template-areas: 
    "avatar description"
    "posts-header posts-header"
    "posts posts";
    grid-template-columns: 4fr 10fr;
    grid-template-rows: 1.5fr 1fr auto;
    grid-area: content;
    grid-row: 1;
    grid-column: 2 / -1;
    grid-gap: 1em;
    grid-auto-flow: row;
    color: var(--text-light);
}