.content {
    grid-area: posts-header;
    border: 3px solid var(--underline);
    border-bottom: none;
}

.posts:last-child {
    border-radius: 7px;
    border-bottom: 3px solid var(--underline);
}

.posts {
    display: grid;
    grid-area: posts;
    grid-gap: 1em;
}



