.content {
    display: grid;
    grid-template-columns: 1fr 7fr 100px;
    grid-template-rows: 25px 25px;

    grid-template-areas:
    "avatar name time"
    "avatar text text";

    padding: 1em;
    cursor: pointer;
}

.time {
    grid-area: time;
    color: var(--text);
    font-size: 16px;
}

.name {
    grid-area: name;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-light);
}

.text {
    grid-area: text;
}
