.content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 7fr 100px;
    grid-template-rows: 25px 25px;

    grid-template-areas:
    "avatar name time"
    "avatar text text";

    padding: 1em;
    cursor: pointer;
}

.isEdit {
    background: var(--app-bg);
    border-radius: 5px;
}

.time {
    grid-area: time;
    color: var(--text);
    font-size: 16px;
    justify-self: flex-end;
}

.name {
    grid-area: name;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-light);
}

.text {
    grid-area: text;
}

.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: -55px;
    grid-gap: 0.5em;
    gap: 0.5em;
    background: var(--block-bg-light);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px #1b1c22
}

.delete_btn {
    padding: .5em 1em;
    transition: .3s;
    max-width: 300px;
    border-radius: 5px;
    width: 100%;
    color: var(--btn-text);
    font-weight: bold;
    background: var(--navbar-exit);
}

.delete_btn:hover {
    background: var(--navbar-exit-hover);
}
