@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
    --main-color: rgb(32, 34, 37);
    --main-color-light: rgb(57, 60, 65);
    --main-color-extralight: rgb(47, 49, 54);
    --gray-light: #f7f7f7;
    --text: rgb(165, 170, 176);
    --text-light: #f6f6f6;

    --header-bg: var(--main-color-extralight);
    --header-text: var(--text);

    --app-bg: rgb(54, 57, 63);

    --navbar-text: var(--text);
    --navbar-icon: rgb(141, 145, 150);
    --navbar-icon2: rgb(246, 246, 250);
    --navbar-bg: var(--main-color);
    --navbar-exit: rgb(240, 71, 71);
    --navbar-exit-hover: rgb(238, 114, 114);
    --navbar-exit-bg: #413338;

    --block-bg: #2f3136;

    --btn-bg: rgb(113, 136, 212);
    --btn-hover: rgb(102, 122, 191);
    --btn-text: var(--text-light);
    --btn-nav-hover: var(--main-color-extralight);

    --footer-text: var(--main-color-light);
    --footer-bg: var(--main-color-extralight);

    --underline: rgb(96, 96, 96);
}

button {
    background: none;
}

#app-wrapper {
    display: grid;
    grid-template-areas:
    "header"
    "container"
    "container";
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 60px;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.separator {
    margin: 8px 10px;
    height: 1px;
    background: #727272;
}

body {
    background: var(--app-bg);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    grid-area: container;
    padding: 1.5em;
}

.block {
    background-color: var(--block-bg);
    border-radius: 5px;
    padding: 1em; 
}

.btn {
    padding: .5em 1em;
    background: var(--btn-bg);
    transition: .3s;
    max-width: 300px;
    border-radius: 5px;
    width: 100%;
    color: var(--btn-text);
    font-weight: bold;
}

.btn:hover {
    background: var(--btn-hover);
}

.underline {
    max-width: 100%;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    margin-top: 1em;
    background: var(--underline);
}