.content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "avatar name time"
    "avatar msg msg";
    cursor: pointer;
    border-left: 3px solid var(--underline);
    color: var(--text);
}

.name {
    grid-area: name;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-light);
}

.msg {
    grid-area: msg;
}

.time {
    grid-area: time;
}

